* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
}
#call {
  font-size: 18px;
  color: black;
  margin: 1%;
}
#stats {
  display: flex;
  justify-content: space-around;
}
#statsouter {
  background-color: #fff;
}
#stats img {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-bottom: 20px;
}
/* Tablets and larger */
@media only screen and (max-width: 768px) {
  #stats {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #stats img {
    margin: 0 10px;
  }
}

#contact {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 38%;
}
#contact > p {
  font-size: 12px;
}
@media only screen and (max-width: 768px) {
  #contact {
    display: none;
  }
}
#github {
  width: 100%;
  text-align: center;
  color: #2e2e2e;
  padding-top: 5%;
  padding-bottom: 5%;
}

.code {
  padding: 2%;
  margin-bottom: 1%;
  font-size: 28px;
  text-align: center;
  font-weight: 500;
}

.scrolled {
  box-shadow: rgba(40, 40, 40, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: #2e2e2e;
}

#lightbtn {
  border: 0;
  background-color: transparent;
}

#home {
  background-color: #fd5c63;
  display: flex;
  background: linear-gradient(136deg, #fd5c63) 0% 0% / 1200% 1200%;
}
.bgstyle {
  animation: BackgroundAnimation 70s ease infinite;
}
@keyframes BackgroundAnimation {
  0% {
    background-position: 0% 7%;
  }
  50% {
    background-position: 100% 94%;
  }
  100% {
    background-position: 0% 7%;
  }
}

#home > .content {
  height: auto;
  width: 800px;
  margin: auto;
  margin-top: 13%;
  text-align: center;
  margin-bottom: 10%;
}

.display-1 {
  color: white;
  font-size: 5rem;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.2;
  font-family: Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}
.typist {
  color: white;
  font-size: 22px;
  margin-top: 0;
  font-weight: 300;
  line-height: 1.2;
  font-family: Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

.all-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  width: 25%;
  margin: auto;
}
.all-links > a {
  margin: 10px;
  color: white;
}
.all-links > a:hover {
  color: black;
}

.resumes {
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  height: 57px;
  width: 100%;
  margin: auto;
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.resumes:hover {
  background-color: white;
  color: #2e2e2e;
}
.resumes h3 {
  font-size: 22px;
  font-weight: 400;
}
.resume-link {
  display: flex;
  margin: auto;
  width: 21%;
  text-decoration: none;
}
#about {
  background-color: rgb(233, 236, 239);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-me-txt {
  color: #212529;
  font-size: 3.48832rem;
  font-weight: 600;
  margin: 0;
  margin-top: 5%;
}
#user-detail-intro {
  line-height: 30px;
}
.hi {
  color: #2e2e2e;
  font-size: 24px;
}
.about-box {
  width: 75%;
  margin: auto;
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 10%;
}
.about-box img {
  height: 75%;
  width: 30%;
  border-radius: 10%;
}
.about-box > div {
  width: 52%;
  text-align: center;
}
.about-box h2 {
  color: rgb(50 50 50);
  font-size: 28px;
  margin: 0;
  margin-bottom: 2%;
  text-align: justify;
  font-weight: 400;
}
.about-box p {
  margin: 0;
  margin-bottom: 2%;
  font-size: 19px;
  color: rgb(50, 50, 50);
  text-align: justify;
}
.about-box i {
  color: #007266;
}
.information {
  color: rgb(50, 50, 50);
  height: auto;
  width: 100%;
  margin-top: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* skills */
#skills {
  background-color: #007266;
  background-color: rgb(85, 125, 165);
  height: 90vh;
  padding: 0;
  background: linear-gradient(136deg, #fd5c63, #de3163) 0% 0% / 1200% 1200%;
}
#skills > div:nth-child(1) {
  text-align: center;
  color: white;
  padding-top: 5%;
}
#skills > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3%;
}
#skills > div:nth-child(2) > div > div {
  transition: all 500ms;
  padding: 0;
  width: 65%;
  margin: auto;
  margin-top: 3%;
}
#skills > div:nth-child(2) > div > div div {
  transition: all 500ms;
  padding: 0;
  margin: auto;
  height: 45px;
  width: 50%;
}

#skills > div:nth-child(2) > div > div:hover {
  transform: scale(1.1);
}

#skills > div:nth-child(2) > div > div {
  width: 65%;
  padding: 3%;
  border-radius: 20%;
}

#skills > div:nth-child(3) > div > div > div {
  transition: all 500ms;
  padding: 0;
  margin: auto;
  height: 45px;
}
#skills > div:nth-child(3) > div > div {
  transition: all 500ms;
  padding: 0;
}

.front-end {
  height: auto;
  width: 35%;
  color: #2e2e2e;
  text-align: center;
}
.front-end h2 {
  color: white;
  font-weight: 400;
}
.front-end div {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 0.5rem 11rem;
  border-radius: 0.5rem;
  margin-bottom: 5%;
  font-size: 20px;
}
#skills i {
  font-size: 29px;
  margin-right: 20px;
}
.back-end {
  height: auto;
  width: 35%;
  color: #2e2e2e;
  text-align: center;
}
.back-end h2 {
  color: white;
  font-weight: 400;
}
.back-end div {
  display: flex;

  align-items: center;
  background-color: white;
  padding: 0.5rem 11rem;
  border-radius: 0.5rem;
  margin-bottom: 5%;
  font-size: 20px;
}
.front-end div > img {
  width: 20%;
  margin-right: 5%;
}
.back-end div > img {
  width: 20%;
  margin-right: 5%;
}
/* projects */
#projects {
  background-color: rgb(233, 236, 239);
  padding-bottom: 10%;
}
.pro_1_div {
  text-align: center;
  padding-top: 5%;
}
.pro_1_div > h2 {
  margin: 0;
  margin-top: 1%;
}

.pro_2_div {
  height: auto;
  width: 80%;
  margin: auto;
}
.pro_2_div > div {
  background-color: rgb(34, 34, 34);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 20px;
  height: auto;
  width: 75%;
  margin: auto;
  margin-top: 3%;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: black;
}
.pro_2_div > div:nth-child(2) {
  margin-top: 4%;
}
.project-img {
  width: 55%;
  border-radius: 20px;
}
.overlay {
  transition: 0.5s ease;
  transform: scale(100px, 100px);
}
.overlay:hover {
  transform: scale(1.1, 1.1);
  cursor: zoom-in;
  z-index: 1;
}

.project-about {
  width: 41%;
  padding: 1%;
  text-align: left;
  padding-left: 10px;
  font-size: small;
}
.project-title {
  background-color: #fd5c63;
  background: linear-gradient(136deg, #fd5c63, #de3163) 0% 0% / 1200% 1200%;
  text-align: center;
}
.project-title h3 {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  color: white;
}
.project-description {
  height: auto;
  margin-top: 6%;
  font-size: 16px;
  font-weight: 400;
}
.project-tech-stack {
  margin: 0;
}
.project-tech-stack h4 {
  margin: 0;
  font-weight: 500;
  font-size: 1.4rem;
}
.project-links {
  height: auto;
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project-links > a {
  height: 30px;
  width: 40%;
  text-align: center;
  font-size: 17px;
  color: black;
  text-decoration: none;
}

.project-links > a > div:hover {
  background: linear-gradient(136deg, #fd5c63, #de3163) 0% 0% / 1200% 1200%;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}

/* footer */
#footer {
  background-color: #fd5c63;
  background: linear-gradient(136deg, #fd5c63, #de3163) 0% 0% / 1200% 1200%;
  width: 100%;
  text-align: center;
  color: white;
  padding-top: 5px;
  padding-bottom: 7px;
}
#footer h2 {
  margin-top: 0;
  margin-bottom: 1%;
  padding-top: 1%;
}

#footer .links {
  text-align: center;
  margin-bottom: 1%;
}
#footer .links a {
  font-size: 40px;
  margin-left: 4%;
  margin-right: 4%;
  color: black;
}
#footer .links a :hover {
  color: white;
}
#footer > p {
  font-family: Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  margin-top: 20px;
  font-size: 14px;
  /* margin: 0; */
  padding-bottom: 2%;
}
.name {
  font-size: 20px;
  color: white;
  margin-left: 1%;
}
.titles {
  color: rgb(33, 37, 41);
  font-size: 3.48832rem;
  font-weight: 600;
  margin: 1% 0px 0px;
}
.fontWhite {
  color: white;
}

/* MEDIA QUERIES */

@media (max-width: 990px) {
  .front-end div > img {
    width: 15%;
    margin-right: 5%;
  }
  .back-end div > img {
    width: 15%;
    margin-right: 5%;
  }
  /*  sectoin 1st section */
  .display-1 {
    color: white;
    font-size: 3.5rem;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 300;
    line-height: 1.2;
    font-family: Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
      Droid Sans, Helvetica Neue, sans-serif;
  }
  .typist {
    color: white;
    font-size: 20px;
    margin-top: 0;
    font-weight: 300;
    line-height: 1.2;
    font-family: Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
      Droid Sans, Helvetica Neue, sans-serif;
  }
  #skills {
    height: 150vh;
  }
  #skills > div:nth-child(1) {
    padding-top: 2%;
  }
  #skills > div:nth-child(2) {
    display: block;
  }
  #skills > div:nth-child(2) > div > div div {
    font-size: 20px;
  }
  #skills > div:nth-child(2) > div {
    height: 10%;
  }

  .front-end {
    width: 100%;
  }
  .front-end h2 {
    text-align: center;
  }
  .back-end {
    width: 100%;
  }

  .back-end h2 {
    text-align: center;
  }
  .front-end > div {
    display: block;
    padding: 0;
  }
  .project-title h3 {
    font-size: 15px;
    margin-top: 3%;
  }
  #projects {
    background-color: rgb(233, 236, 239);
  }

  .project-img {
    width: 95%;
    margin: 0%;
    margin-top: 3%;
  }
  .project-about {
    width: 95%;
    margin: auto;
  }
  .project-description {
    font-size: 13px;
    height: auto;
    margin-top: 0;
    line-height: 1.7;
  }
  .project-tech-stack h4 {
    font-size: 13px;
  }
  .pro_2_div {
    width: 75%;
  }
  .pro_2_div > div {
    height: auto;
    display: block;
    text-align: center;
  }
  .project-links > a {
    font-size: 13px;
  }
  .about-box {
    height: auto;
    width: 100%;
    margin: auto;
    display: block;
    text-align: center;
    margin-top: 5%;
  }

  .about-box h2 {
    font-size: 25px;
    text-align: center;
  }
  .about-box img {
    width: 25%;
    height: 50%;
    margin-top: 1%;
    margin-bottom: 2%;
  }
  .about-box > div {
    width: 80%;
    margin: auto;
  }
  .about-box p {
    font-size: 20px;
  }
  .information {
    font-size: 13px;

    gap: 10%;
  }
  #call > i {
    font-size: 14px;
    margin: 0%;
  }
  .code {
    font-size: 18px;
  }
  .contrib-number {
    line-height: 1.3em;
    font-size: 12px;
    display: block;
    color: #333;
  }
  .titles {
    color: rgb(33, 37, 41);
    font-size: 1.8832rem;
    font-weight: 300;
    margin: 5% 0px 0px;
  }
  .fontWhite {
    color: white;
  }
  .about-me-txt {
    font-size: 1.8832rem;
    font-weight: 300;
  }
}

/* mobile phones */
@media (max-width: 640px) {
  .display-1 {
    color: white;
    font-size: 2rem;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 300;
    line-height: 1.2;
    font-family: Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
      Droid Sans, Helvetica Neue, sans-serif;
  }
  .typist {
    color: white;
    font-size: 12px;
    margin-top: 0;
    font-weight: 300;
    line-height: 1.2;
    font-family: Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
      Droid Sans, Helvetica Neue, sans-serif;
  }

  .resumes h3 {
    font-size: 16px;
  }
  #home > .content {
    margin-top: 25%;
    margin-bottom: 10%;
  }
  .about-box {
    height: auto;
    width: 100%;
    margin: auto;
    display: block;
    text-align: center;
    margin-top: 15%;
  }

  .about-box h2 {
    font-size: 18px;
    font-weight: 400;
  }
  .about-box img {
    width: 40%;
    height: 40%;
    margin-top: -10%;
    margin-bottom: 2%;
  }
  .about-box > div {
    width: 80%;
    margin: auto;
  }
  .about-box p {
    font-size: 15px;
  }
  .information {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 15%;
  }
  #skills {
    height: 120vh;
  }
  #skills > div:nth-child(2) {
    display: block;
  }
  #skills > div:nth-child(2) > div > div div {
    font-size: 15px;
  }

  .front-end {
    width: 100%;
  }
  .front-end h2 {
    text-align: center;
  }
  .back-end {
    width: 100%;
  }

  .back-end h2 {
    text-align: center;
  }
  .front-end > div {
    display: block;
    padding: 0;
  }
  #footer h2 {
    font-size: 1.8832rem;
    padding-top: 4%;
  }
  #footer p {
    font-size: 10px;
  }
  .links p {
    font-size: 12px;
  }
  .links i {
    font-size: 30px;
  }
  .name {
    font-size: 12px;
  }
  .project-title h3 {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #projects {
    height: auto;
    background-color: rgb(178, 180, 182);
  }

  .project-img {
    width: 53%;
    height: 50%;
    margin-top: 85px;
  }
  .project-about {
    width: 43%;
  }
  .project-description {
    font-size: 10px;
    height: auto;
  }
  .project-tech-stack h4 {
    font-size: 10px;
  }
  .pro_2_div {
    width: 100%;
  }
  .pro_2_div > div {
    width: 75%;
  }
  .project-links > a {
    font-size: 15px;
    margin-top: 8%;
  }

  /* above */
  #projects {
    height: auto;
    background-color: rgb(214, 214, 214);
  }
  .project-img {
    width: 95%;
    margin: 0;
    margin-top: 5%;
  }
  .project-about {
    width: 95%;
    margin: auto;
  }
  .project-description {
    font-size: 13px;
    height: auto;
    margin-top: 0;
  }
  .project-tech-stack h4 {
    font-size: 13px;
  }
  .pro_2_div {
    width: 100%;
  }
  .pro_2_div > div {
    height: auto;
    display: block;
    text-align: center;
  }
  #call > i {
    font-size: 12px;
    margin: 0%;
  }
  .code {
    font-size: 18px;
  }
  .contrib-number {
    line-height: 1.3em;
    font-size: 12px;
    display: block;
    color: #333;
  }
  .titles {
    color: rgb(33, 37, 41);
    font-size: 1.8832rem;
    font-weight: 300;
    margin: 5% 0px 0px;
  }
  .fontWhite {
    color: white;
  }
  .about-me-txt {
    font-size: 1.8832rem;
    font-weight: 300;
  }
  .hi {
    color: #2e2e2e;
    font-size: 15px;
  }
  .front-end div > img {
    width: 20%;
    margin-right: 5%;
  }
  .back-end div > img {
    width: 20%;
    margin-right: 5%;
  }
}

/* responsive navbar*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
.header {
  border-bottom: 1px solid #e2e8f0;
}

#nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: rgb(93, 90, 90);
  padding: 1.2rem 1.5rem;
  position: fixed;
  z-index: 2;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: white;
}

.nav-link:hover,
.nav-logo:hover {
  color: rgb(178, 135, 144);
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 700;
  color: white;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: black;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
